@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f1f1f1;
    font-family: poppins;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
margin-top: auto;
}